.Sidebar {
    max-width: 400px;
}

.note-container {
    height: 90vh;
}

.Sidebar-note {
    height: 70px;
}

.highlighted-note {
    background-color: var(--bs-primary);
    border: none;
    color: var(--bs-white);
}

.non-highlighted-note {
    background-color: var(--bs-white);
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
}
