* {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.bi-trash {
  border: none;
  color: #fff;
  background-color: transparent;
  transition: color .1s;
}

.bi-trash:hover {
  color: crimson;
  transition: color .1s;
}